.venv/

.env

__pycache__/
*.py[cod]
*$py.class

alembic/versions/

/frontend/node_modules/
/frontend/build/
/frontend/.env

*.log
logs/

build/
dist/
*.egg-info/
pip-wheel-metadata/

.vscode/
.idea/

.DS_Store
Thumbs.db